/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: 	#953553;
}

/* Header */
header {
    background: #359577;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
}

/* Banner */
.banner {
    background: url('banner.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.banner h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
}

/* Page Sections */
.page {
    padding: 20px;
}

.page h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#359577;
    color: #fff;
    margin-top: 20px;
}
